@import "tailwindcss";

html, body, #root {
    width: 100%;
    font-family: var(--font-roboto), var(--font-noto), sans-serif;
    font-size: clamp(10px, 1.2vw, 16px);
    font-style: normal;
    color: #000;
    line-height: normal;
    letter-spacing: -0.02em;
    background-color: #fbfbfb;
}

.wrap {
    width: 91%;
    max-width: 1560px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
