@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  font-family: var(--font-roboto), var(--font-noto), sans-serif;
  font-size: clamp(10px, 1.2vw, 16px);
  line-height: normal;
  color: #000;
  background-color: #fbfbfb;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
